@model WaysToGet2

@{
    ViewData["title"] = "lab2";
}

<h1>@ViewData["title"]</h1>

<form method="post" enctype="multipart/form-data" asp-controller="Labs" asp-action="LAB2">
    <div class="form-group">
        <label for="number">Number</label>
        <input type="text" class="form-select" id="number" asp-for="Number">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
@if (Model != null)
{
    <div class="container mt5">
        <div class="form-group">
            <label asp-for="Calculated" class="control-label">Output: @(Model != null ? Model.Response : string.Empty)</label>
        </div>
        @if (Model != null && !string.IsNullOrEmpty(Model.ErrorValue))
        {
            <div class="row">
                <label for="perror"></label>
                <input type="text" id="perror" value = "@Model.ErrorValue">
            </div>
        }
    </div>
}